@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9d6ff;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-tab {
  margin-bottom: 100px;
}
.sign-up-card {
  width: 600px;
  padding: 60px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.tab-group {
  width: 100%;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  font-weight: 600;
  background-color: #6dcc8a;
  color: #fff;
}
.top-margin {
  margin-top: 20px; /* Adjust to the desired spacing */
}
