<app-navbar></app-navbar>

<div class="container">
  <mat-card class="sign-up-card">
    <mat-tab-group  class="tab-group">
      <!-- Personal Information Tab -->
      <mat-tab label="{{ translate('signup.personalInfo') }}">
        <form>
          <mat-form-field appearance="outline" class="full-width top-margin">
            <mat-label>{{ translate('signup.fullName') }}</mat-label>
            <input matInput type="text" placeholder="{{ translate('signup.nameEnter') }}">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ translate('signup.city') }}</mat-label>
            <input matInput type="text">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ translate('signup.governorate') }}</mat-label>
            <input matInput type="text">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ translate('signup.phoneNumber') }}</mat-label>
            <input matInput type="tel">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ translate('signup.cin') }}</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </form>
      </mat-tab>

      <!-- Account Information Tab -->
      <mat-tab label="{{ translate('signup.accountInfo') }}">
        <form>
          <mat-form-field appearance="outline" class="full-width top-margin">
            <mat-label>{{ translate('login.email') }}</mat-label>
            <input matInput type="email">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ translate('login.password') }}</mat-label>
            <input matInput type="password">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>{{ translate('signup.confirmPassword') }}</mat-label>
            <input matInput type="password">
          </mat-form-field>

          <button mat-raised-button class="button">{{ translate('signup.createAccount') }}</button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
