<!-- src/app/pages/accueil/accueil.component.html -->
<app-navbar></app-navbar>
<div class="accueil-container">
  <div class="image-container">
    <img src="./assets/img/Live collaboration-rafiki.png" alt="Live collaboration-rafiki" height="500">
  </div>
  <div class="text-container">
    <h1>Welcome to CommunAid</h1>
    <p>
      CommunAid is a project dedicated to bringing communities together by providing a platform for collaboration, support, and mutual aid...
    </p>
  </div>
</div>

<!-- New Cards Section -->
<div class="cards-container">
  <div class="card">
    <div class="card-image">
      <img src="./assets/img/card1.jpg" alt="Card 1">
      <div class="card-overlay">
        <p>Card 1 Description</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="./assets/img/card2.jpg" alt="Card 2">
      <div class="card-overlay">
        <p>Card 2 Description</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-image">
      <img src="./assets/img/card3.jpg" alt="Card 3">
      <div class="card-overlay">
        <p>Card 3 Description</p>
      </div>
    </div>
  </div>
</div>
