<app-navbar></app-navbar>

<!-- Hero Section -->
<div class="hero-section">
  <img src="./assets/img/background.jpg" alt="Hero Image" class="hero-image">
  <div class="hero-overlay">
    <h1>{{ translate('accueil.welcome') }}</h1>
    <p>{{ translate('accueil.description') }}</p>
    <div class="search-bar">
      <input type="text" placeholder="Search..." />
      <button>{{ translate('accueil.search') }}</button>
    </div>
  </div>
</div>

<!-- Statistics Section -->
<div class="statistics-section">
  <div class="stat-card">
    <h3>100+</h3>
    <p>{{ translate('accueil.stat_providers') }}</p>
  </div>
  <div class="stat-card">
    <h3>200+</h3>
    <p>{{ translate('accueil.stat_clients') }}</p>
  </div>
  <div class="stat-card">
    <h3>300+</h3>
    <p>{{ translate('accueil.stat_projects') }}</p>
  </div>
</div>


<!-- New Announcements Section -->
<div class="annonces-wrapper">
  <div class="row">
   <div class="column">
      <div class="card">
        <h3>title</h3>
        <p>title</p>
      </div>
    </div> 
  </div>
</div>
