<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-logo">EasyConnect</a>
    <div class="navbar-links">
      <a href="/accueil">{{ translate('navbar.home') }}</a>
      <a href="#">{{ translate('navbar.features') }}</a>
      <a href="#">{{ translate('navbar.pricing') }}</a>
      <a href="#">{{ translate('navbar.about') }}</a>
      <a href="#">{{ translate('navbar.contact') }}</a>
    </div>
    <!-- Connexion and Créer Compte Buttons + Language Selector -->
    <div class="auth-language-container">
      <div class="auth-buttons">
        <a href="/login" class="connexion-button">{{ translate('login.signIn') }}</a>
        <a href="/sign-up" class="signup-button">{{ translate('signup.createAccount') }}</a>
      </div>
      <select (change)="changeLanguage($event)" class="language-selector">
        <option value="en">EN</option>
        <option value="fr">FR</option>
      </select>
    </div>
  </div>
</nav>
