/* Navbar Styles */
.navbar {
  width: 100%;
  background-color: #4DA768;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.navbar-links a::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.navbar-links a:hover::after {
  width: 100%;
}

/* Language Selector Styles */
.language-selector {
  background-color: #fff;
  color: #4DA768;
   padding: 2px 5px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.language-selector:hover {
  background-color: #e0e0e0;
}

/* Hamburger Menu Styles */
.navbar-toggle-checkbox {
  display: none;
}

.navbar-toggle-label {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 25px;
  justify-content: space-between;
}

.navbar-toggle-label span {
  display: block;
  height: 3px;
  background: #fff;
  border-radius: 3px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    position: fixed;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100% - 60px);
    background-color: #4DA768;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: left 0.3s;
  }

  .navbar-links a {
    font-size: 24px;
    margin: 15px 0;
  }

  .navbar-toggle-label {
    display: flex;
  }

  .navbar-toggle-checkbox:checked ~ .navbar-links {
    left: 0;
  }

  /* Positioning language selector below links for mobile view */
  .language-selector {
    margin-top: 20px;

  }
}
