/* Global Styles */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  height: 100vh;
  background-color: #f7f9fc;
}

/* Layout */
.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #4DA768;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar-logo {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.sidebar ul li {
  padding: 15px 10px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #568364;
  border-radius: 5px;
}

.sidebar ul li i {
  margin-right: 10px;
  color: white;
}


/* Main Content */
.main-content {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Card */
.sign-up-card {
  width: 700px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  text-align: left;

}

/* Form Elements */
input,select, textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}


/* Container for the buttons */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Submit Button (Add Category) */
.submit-button {
  background-color: #4DA768; /* Green */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 48%; /* To make them appear side by side */
}

.submit-button:hover {
  background-color: #568364;
}

/* Cancel Button */
.cancel-button {
  background-color: #ccc; /* Light grey */
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 48%; /* To make them appear side by side */
}

.cancel-button:hover {
  background-color: #b0b0b0;
}

